In [1]:
import requests
import pandas as pd
from datetime import datetime

In [3]:
df = pd.read_csv("weather_data.csv")

In [4]:
df

,Ville,Température actuelle,Température ressentie,Température minimale,Température maximale,Pression,Humidité,Vitesse du vent,Direction du vent,Lever du soleil,Coucher du soleil
0,Paris,7.41,3.89,6.32,9.37,1027,66,6.17,60,2023-04-03 07:24:51,2023-04-03 20:22:48
1,Marseille,15.40,14.09,12.75,16.40,1012,42,1.79,253,2023-04-03 07:16:58,2023-04-03 20:05:29
2,Lyon,5.10,2.87,4.72,6.64,1021,93,2.68,65,2023-04-03 07:18:42,2023-04-03 20:11:05
3,Toulouse,10.91,10.04,9.89,10.99,1022,76,5.66,310,2023-04-03 07:32:58,2023-04-03 20:21:56
4,Nice,9.03,7.86,8.34,10.54,1010,29,2.25,202,2023-04-03 07:09:27,2023-04-03 19:58:59
5,Nantes,7.78,4.76,7.22,9.83,1025,76,5.14,50,2023-04-03 07:42:06,2023-04-03 20:37:00
6,Strasbourg,7.15,3.56,6.04,8.28,1026,61,6.17,50,2023-04-03 07:03:34,2023-04-03 20:00:56
7,Montpellier,16.54,15.35,15.32,16.71,1015,42,8.23,10,2023-04-03 07:23:14,2023-04-03 20:12:11
8,Bordeaux,12.15,11.14,12.15,13.52,1023,66,3.09,10,2023-04-03 07:40:04,2023-04-03 20:31:01
9,Lille,9.27,5.94,6.50,10.12,1028,53,7.20,70,2023-04-03 07:20:16,2023-04-03 20:21:42
10,Rennes,5.02,2.46,5.02,5.02,1027,81,3.09,70,2023-04-03 07:41:32,2023-04-03 20:38:14
11,Reims,7.87,3.70,6.41,8.30,1027,57,8.75,70,2023-04-03 07:17:38,2023-04-03 20:16:09
12,Le Havre,8.51,5.67,8.51,8.86,1028,61,5.14,60,2023-04-03 07:33:11,2023-04-03 20:32:23
13,Saint-Etienne,5.62,2.05,4.31,5.62,1020,93,5.14,340,2023-04-03 07:19:41,2023-04-03 20:11:33
14,Toulon,16.70,15.97,15.14,19.44,1011,59,4.12,200,2023-04-03 07:15:24,2023-04-03 20:03:35
15,Grenoble,0.31,-2.69,0.31,1.55,1018,89,2.53,336,2023-04-03 07:14:15,2023-04-03 20:05:32
16,Dijon,4.95,0.97,4.85,7.40,1023,81,5.66,20,2023-04-03 07:15:37,2023-04-03 20:10:42
17,Nîmes,14.47,13.30,13.05,15.31,1015,51,8.23,360,2023-04-03 07:20:50,2023-04-03 20:10:16
18,Angers,8.74,6.26,7.01,8.78,1026,73,4.42,55,2023-04-03 07:37:43,2023-04-03 20:33:07
19,Dunkerque,9.08,6.11,7.86,10.16,1030,67,5.90,75,2023-04-03 07:22:17,2023-04-03 20:24:09